p
{
  background-color: lightblue;
  border: 5px solid blue;
  text-align: center;
  width=50%;
  height=50%;
}
h1
{
  background-color: pink;
  text-align: center;
  width=50%;
  height=50%;
}
h4
{
  background-color: lightpink;
  border: 5px dotted red;
  width=50%;
  height=50%;
}
#Divan_football
{
      background-color: lightblue;
      border: 5px solid blue;
      text-align: center;
      width=50%;
      height=50%;
}
